html {
    font-size: 14px;
    --aq: aquamarine;
    --bl: black;}

@media(max-width: 980px) {
    html {
        font-size: 10px;
    }
}
@media(max-width: 660px) {
    html{
        font-size: 8px;
    }
}
@media(max-width: 535px) {
    html{
        font-size: 5px;
    }
}
body{
    background: aliceblue;
}

.header{
    z-index: 1;
    height: 7rem;
    width: 100%;
    background: darkblue;
}
.forPictureLeft{
    height: 6rem;
    width: 15rem;
    margin: 0.5rem 0 0 1rem;
}
.forPictureRight{
    height: 6rem;
    width: 6rem;
    float: right;
    margin: 0.5rem 1rem;
}
.buttonInHeaderRight{
    font-size: 1.5rem;
    background: var(--aq);
    height: 3rem;
    width: 9rem;
    float: right;
    margin: 3.5rem 1rem 1rem 0;
}
.textInHeader{
    font-size: 2rem;
    float: right;
    color: var(--aq);
    margin: 4rem 1.5rem 1rem 0;
}
.buttonInHeaderForPost{
    height: 3.5rem;
    width: 3.5rem;
    float: right;
    margin: 3rem 1rem 2rem 0;
    background: var(--aq);
}
.pictureForButton{
    height: 2.5rem;
    width: 2.5rem;
}

.footer{
    position: static;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background: darkblue;
}
.textInFooter1{
    font-size: 1.5rem;
    float: right;
    width: 40%;
    color: var(--aq);
    text-align:right;
    padding-right: 0.5rem;
}
.pictureInFooter{
    height: 4.5rem;
    width: 13rem;
    margin: 0.3rem 0 0 0.5rem;
}

.inlineBoxes{
    display: inline-block;
    position: static;
    width: 100%;
    background: aliceblue;
    padding-left: 2rem;
}
.inlineBoxes1 {
    display: inline-block;
    position: fixed;
    width: 30%;
    background: lightgrey;
    top: 8.5rem;
}
.textInFilters{
    font-size: 2rem;
    text-align: center;
}
.textInFilters1{
    font-size: 1.7rem;
    text-align: center;
    margin: 0.7rem 0 0 27%;
    width: 45%;
    padding: 0.3rem;
    background: paleturquoise;
}
.textInFilters2{
    margin: 1rem 0 0 15%;
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    border: 0.1rem var(--bl) solid;
    width: 70%;
    height: 1.7rem;
    padding: 0.5rem;
    background: azure;
}
.textInFilters3{
    font-size: 1.5rem;
    text-align: center;
    margin: 0.7rem 0 0 calc(35%/2);
    width: 30%;
    padding: 0.5rem;
    background: lightsteelblue;
}
.buttonInFilters{
    font-size: 1.5rem;
    height: 2.3rem;
    width: 40%;
    margin: 1rem 35% 0.5rem 30%;
    background: var(--aq);
}

.inlineBoxes2 {
    display: inline-block;
    width: 60%;
    background: lightcyan;
    height: calc(100% - 16rem);
    margin: 0 1rem 0 35%;
}
.buttonInPostLine{
    font-size: 2.5rem;
    height: 3.5rem;
    width: 80%;

    margin: 0 20% 0 10%;
    background: palegreen;
}
.auto {
    overflow: auto;
}
.photoUserToPost{
    height: 2.8rem;
    width: 2.8rem;
    margin: 0 0.5rem;
}
.post{
    display: block;
    width: 90%;
    background: powderblue;
    margin: 1rem 0 0 5%;
}
.photoForLine{
    height: 5rem;
    width: 5rem;
    margin: 1rem 0 0 1rem;
}
.nameDateTime{
    font-size: 2rem;
    font-weight: bold;
    color: var(--bl);
    padding-left: 2rem;
}
.textOfPost{
    margin: 2rem 0 0 1rem;
    font-size: 1.7rem;
    color: var(--bl);
    text-align: left;
    border: 0.1rem var(--bl) solid;
    width: 90%;
    height: 9rem;
    padding: 0.7rem;
    background: white;
}
.photoToPost{
    height: 15%;
    width: 35%;
    margin: 3% 0 0 5%;
}
.photoWidgets{
    height: 3rem;
    width: 3rem;
}
.buttonWidgets{
    height: 4.5rem;
    width: 4.5rem;
    margin: 1rem 0 1rem 2rem;
    background: azure;
}
.buttonLoadMore{
    font-size: 2rem;
    height: 3.5rem;
    width: 50%;
    margin: 3rem 35% 2rem 30%;
    background: var(--aq);
}